* {
    box-sizing: border-box;
  }
html, body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

header {
    background:#2d2c40;
    margin:0;
    padding:0;
    position:relative;
}
body{
    background-color:  '#D9D7DD';
}

.bored {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    /* //display: inliblock; */
    justify-content: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.gridItem {
    height: 120px;
    width: 120px;
    border: 1px solid;
    margin: 10px;
    text-align: center;
    border-radius: 30%;
    background-color:whitesmoke;
    color:whitesmoke;
    font-size: 50px;
    text-align: center;
}
.gridItem:hover{
    opacity: 0.8;
}

.colored {
    animation-duration: 5ms;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
}

.animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: cadetblue;
    
}

.buttonCon{
margin-left: auto;
margin-right: auto;
text-align:center;

}

.button1 {
display: inline-block;
padding: 0.5em 3em;
border: 0.16em solid #2d2c40;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
font-weight: 400;
color: #2d2c40;
text-align: center;
transition: all 0.15s;
}

.button1:hover {
color: #DDDDDD;
border-color: #DDDDDD;
}

.button1:active {
color: #BBBBBB;
border-color: #BBBBBB;
}
#start{
   
    height: 20px;
    box-sizing:content-box;
    font-size: 25px;
    align-content: flex-start;
    padding:10px;
  
}
#score{
font-size: 30px;
color:#2d2c40;
text-align: center;
font-family: Palatino;
}
footer{
    display:clear;
    background:#2d2c40;
    margin:0;
    padding:0;
    height:20px;
    position:relative;
    color:whitesmoke;
}
@media only screen and (max-width: 600px) {
    .gridItem {
        height: 70px;
        width: 70px;
        border: 1px solid;
        margin: 10px;
        text-align: center;
        border-radius: 30%;
        background-color:whitesmoke;
        color:whitesmoke;
        text-align: center;
    }
  }

