body,footer{
    background-color:  '#D9D7DD';
  
}

.bored {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    /* //display: inliblock; */
    justify-content: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.gridItem {
    height: 120px;
    width: 120px;
    border: 1px solid;
    margin: 10px;
    text-align: center;
    border-radius: 30%;
    background-color:whitesmoke;
    color:whitesmoke;
    font-size: 50px;
    text-align: center;
}
.gridItem:hover{
    opacity: 0.8;
}

.colored {
    animation-duration: 5ms;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
}

.animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: cadetblue;
    
}

.buttonCon{
margin-left: auto;
margin-right: auto;
text-align:center;

}

.button1 {
display: inline-block;
padding: 0.5em 3em;
border: 0.16em solid #2d2c40;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
font-weight: 400;
color: rgb(4, 71, 133);
text-align: center;
transition: all 0.15s;

}

.button1:hover {
color: #DDDDDD;
border-color: #DDDDDD;
}

.button1:active {
color: #BBBBBB;
border-color: #BBBBBB;
}
#score{
font-size: 30px;
color:#2d2c40;
text-align: center;
font-family: Palatino;
}

